@import '/node_modules/primevue/resources/themes/aura-light-blue/theme.css';
@import '/node_modules/primeicons/primeicons.css';

body {
  --transition-duration: 200ms;

  /* Colors */
  --color-green: #38bc6f;
  --color-red: #e63118;
  --color-yellow: #f5e324;

  /* Font family */
  --font-family: 'Lato', sans-serif;

  /* Font sizes */
  --xs-font-size: 12px;
  --sm-font-size: 14px;
  --font-size: 16px;
  --lg-font-size: 18px;
  --xl-font-size: 20px;
  --xxl-font-size: 22px;

  /* Layout variables */
  --layout-padding-horizontal: 240px;
  --layout-padding-vertical: 30px;
  --sidebar-width: 120px;
  --button-height: 32px;
  --progressbar-height: 10px;
  --wrap-padding: 20px;
  --border-radius-lg: 30px;

  /* Layout Gap variables */
  --layout-gap-xxl: 40px;
  --layout-gap-xl: 30px;
  --layout-gap-lg: 20px;
  --layout-gap: 16px;
  --layout-gap-sm: 10px;
  --layout-gap-xs: 8px;
  --layout-gap-xxs: 2px;

  /* POPPER.JS Styles */
  /* --popper-theme-background-color: var(--tooltip-background);
  --popper-theme-background-color-hover: var(--tooltip-background);
  --popper-theme-text-color: var(--app-color);
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 10px;
  --popper-theme-padding: 20px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25); */

  @media (max-height: 850px) {
    --sidebar-width: 90px;
  }

  @media (max-width: $breakpoint-desktop-sm) {
    /* Layout */
    --layout-padding-horizontal: 60px;
    --button-height: 28px;
    --progressbar-height: 8px;

    /* Fonts */
    --xs-font-size: 10px;
    --sm-font-size: 12px;
    --font-size: 14px;
    --lg-font-size: 16px;
    --xl-font-size: 18px;
    --xxl-font-size: 20px;
  }

  @media (max-width: $breakpoint-laptop-lg) {
    /* Layout */
    --button-height: 22px;
    --progressbar-height: 6px;

    /* Layout Gap */
    --layout-gap-xxl: 20px;
    --layout-gap-xl: 15px;
    --layout-gap-lg: 10px;
    --layout-gap: 8px;
    --layout-gap-sm: 5px;
    --layout-gap-xs: 4px;

    /* Fonts */
    --xs-font-size: 8px;
    --sm-font-size: 10px;
    --font-size: 12px;
    --lg-font-size: 14px;
    --xl-font-size: 16px;
    --xxl-font-size: 18px;
  }

  @media (max-width: $breakpoint-tablet) {
    /* Layout */
    --sidebar-width: 1px;
    --layout-padding-horizontal: 5px;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

.p-menubar.p-menubar-mobile .p-menubar-root-list {
  width: auto;
}

.p {
  &-card {
    border: 1px solid var(--surface-border);
    border-radius: var(--border-radius-lg);

    img {
      padding: var(--layout-gap-xs);
      height: 200px;
      max-width: 100%;
      margin: 0 auto;
      display: block;
      border-radius: var(--border-radius-lg);
    }

    iframe {
      width: 100%;
      height: 300px;
      border-radius: var(--border-radius-lg);
    }
  }
}

.l {
  &-column {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap);
  }

  &-row {
    display: flex;
    gap: var(--layout-gap);
  }
}

.app {
  &-block {
    padding: var(--layout-gap);
    border-radius: var(--border-radius-lg);
    background-color: var(--surface-ground);
  }

  &-block_colored {
    background-color: var(--primary-color);
    padding: var(--layout-gap-lg);
    border-radius: var(--border-radius-lg);
  }

  &-default-page {
    .p-card {
      &-body {
        padding: var(--layout-gap);
      }
    }
  }
}

.text {
  &-primary {
    color: var(--primary-color);
  }

  &-primary-bg {
    color: var(--primary-color-text);
  }

  &-secondary {
    color: var(--text-secondary-color);
  }

  &-bold {
    font-weight: bold;
  }
}

.border-radius {
  border-radius: var(--border-radius);

  &-lg {
    border-radius: var(--border-radius-lg);
  }
}

.focused {
  box-shadow: var(--focus-ring);
}

.active {
  background: var(--highlight-bg);
  color: var(--highlight-text-color);
}
